[submodule "lardoon"]
	path = lardoon
	url = https://github.com/team-limakilo/lardoon.git
[submodule "jambon"]
	path = jambon
	url = https://github.com/team-limakilo/jambon.git
[submodule "sneaker"]
	path = sneaker
	url = https://github.com/ctartamella/sneaker.git
	branch = master
